//uniquement breakpoints(conformes @media taille ecran=garder meme point de repture que bootstrap)
//gouttières, margin, padding pour la page et blocs de section.

//breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;

